& {
    &.selected {
        outline: 2px solid #ccc;
    }
}

.flex {
    display: flex;
    align-items: center;
    height: 25px;
}

.icons-container {
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    color: #999;
}

.icons {
    color: #7266ba;
    width: 15px;
    text-align: center;
    margin-right: 5px;
    &.gaea {
        color: #999;
    }
}

.text {
    color: #666;
    font-size: 12px;
}