.version-container {
    &:not(:first-child) {
        border-top: 1px solid #ddd;
    }
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.version-header-container {
    display: flex;
    justify-content: space-between;
}

.current-version-tag {
    padding: 5px;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 12px;
}

.version-title {
    font-size: 16px;
    font-weight: bold;
}

.version-description {
    margin-top: 5px;
    font-size: 12px;
    color: #666;
}

.btn {
    height: 25px;
    .text-child {
        padding: 0 10px;
    }
}