& {
    display: flex;
    margin: -3px;
}

.instance-item {
    cursor: pointer;
    margin: 3px;
    transition: outline .3s;
    outline: 1px solid transparent;
    &:hover {
        outline: 1px solid #ccc;
    }
}