& {
    position: relative;
    display: flex;
    margin-right: 20px;
    .mobile-container {
        position: absolute;
        display: none;
        z-index: 100;
        width: 250px;
        right: -105px;
        top: 35px;
        background: white;
        border: 1px solid #ddd;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        .slider {
            width: 100%;
        }
    }
    .fa-mobile {
        font-size: 19px;
    }
    .fa-desktop {
        font-size: 12px;
    }
}

.mobile-root {
    position: relative;
    &:hover {
        .mobile-container {
            display: flex;
            justify-content: space-between;
        }
    }
}

.viewport-size-active {
    background: #ddd;
}

.phone {
    width: 40px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    &.active {
        background-color: whitesmoke;
    }
    &:hover {
        background-color: #efefef;
    }
}