& {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

// 整体左侧容器
.outer-left-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 0;
}

// 整体右侧容器
.outer-right-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    z-index: 2;
    background-color: white;

    // 上部容器
    .outer-right__top-container {
        display: flex;
        flex-grow: 2;
        height: 0;
    }

    // 下部容器
    .outer-right__bottom-container {
        display: flex;
        flex-grow: 3;
        height: 0;
    }
}

// 导航条容器
.navbar-container {

}

// 导航条下面中间的容器
.navbar-center-container {
    display: flex;
    flex-grow: 1;
    height: 0;

    // 左部容器
    .navbar-center__left-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;

        // 左部容器上部
        .navbar-center__left__top-container {
            width: 100%;
        }

        // 左部容器下部
        .navbar-center__left__bottom-container {
            width: 100%;
        }
    }

    // 右部容器
    .navbar-center__right-container {
        display: flex;
        margin-right: -350px;
        flex-grow: 1;
        width: 0;
        transition: margin-right .15s;

        // 显示右侧容器
        &.show-editor-container {
            margin-right: 0;
        }

        // 视图容器
        .viewport-container {
            display: flex;
            position: relative;
            flex-grow: 1;
            width: 0;
            height: 100%;
        }

        // 编辑容器
        .editor-container {
            position: relative;
            width: 350px;
            height: 100%;
            z-index: 0;

            // 编辑容器关闭按钮
            .editor-close {
                position: absolute;
                width: 40px;
                height: 40px;
                top: 0;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .3s;
                color: #999;
                cursor: pointer;
                z-index: 1;

                &:hover {
                    color: #333;
                    transform: scale(1.2);
                }
            }
        }
    }
}

// 导航条最下面的容器
.navbar-center-container {
    height: 30px;
}