& {
    position: relative;
    background-color: whitesmoke;
    border-top: 1px solid #ddd;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tree-container {
    position: relative;
    width: 100%;
    overflow-y: scroll;
}

.absolute-container {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-top-left-radius: 3px;
    background-color: white;
    font-size: 12px;
    color: #666;
}