& {
    flex-grow: 1;
}

.global-param {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    &__name-container {
        flex-grow: 1;
        display: flex;
        align-items: center;
        &__name {

        }
        &__type {
            font-size: 12px;
            margin-left: 5px;
            background-color: whitesmoke;
            padding: 5px;
            border-radius: 5px;
        }
    }
    &__delete {
        width: 20px;
        cursor: pointer;
        color: #999;
        &:hover {
            color: #333;
        }
    }
}

.add-param {
    margin-top: 10px;
    margin-left: 10px;
}