.row-container {
    display: flex;
    &:not(:first-child) {
        margin-top: 8px;
    }
}

.btn {
    height: 25px;
    .text-child {
        padding: 0 10px;
    }
}

.icon-container {
    margin-right: 3px;
}

.left-container {
    display: flex;
    align-items: center;
    flex-grow: 2;
    width: 0;
    padding-right: 5px;
}

.right-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    width: 0;
}

.right-container-2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 2;
    width: 0;
}