& {
    display: flex;
    position: absolute;
    height: 100%;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    border-right: 2px solid #eee;
    &.extend-container {
        transform: translate3d(-202px, 0, 0);
        transition: all .2s;
        z-index: 10;
        background-color: white;
        &.show {
            margin-right: 0;
            transform: translate3d(0, 0, 0);
        }
    }
}