& {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

// 整体左侧容器
.outer-left-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 0;
}

// 整体右侧容器
.outer-right-container {
    display: flex;
    width: 300px;
    z-index: 2;
    background-color: white;
    overflow: hidden;

    // 修复 safari 被盖在编辑区下面的问题
    transform: translateZ(1px);

    // 控制状态切换的容器
    .viewport-tool-switch-container {
        display: flex;
        transition: all .3s;
        transform: translate3d(0, 0, 0);

        // 预览状态
        &.preview {
            transform: translate3d(-300px, 0, 0);
        }

        // 编辑状态工具容器
        .viewport-tool-container {
            display: flex;
            flex-direction: column;
            width: 300px;
        }

        // 预览状态工具容器
        .preview-tool-container {
            display: flex;
            width: 300px;
            height: 100%;
        }
    }

    // 上部容器
    .outer-right__top-container {
        display: flex;
        flex-grow: 2;
        height: 0;
    }

    // 下部容器
    .outer-right__bottom-container {
        display: flex;
        flex-grow: 3;
        height: 0;
    }
}

// 导航条容器
.navbar-container {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    border-bottom: 1px solid #ddd;

    // 左侧
    .navbar-container__left {
        display: flex;
    }

    // 右侧
    .navbar-container__right {
        display: flex;
        justify-content: flex-end;
    }

    .navbar-container__left, .navbar-container__right {
        & > div:not(.no-style) {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 10px;
            font-weight: bold;
            cursor: pointer;
            user-select: none;
            &:hover {
                background-color: #eaeaea;
            }
        }
    }
}

// 导航条下面中间的容器
.navbar-center-container {
    display: flex;
    flex-grow: 1;
    height: 0;

    // 左部容器
    .navbar-center__left-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        background-color: white;
        z-index: 1;

        // 左部容器上部
        .navbar-center__left__top-container {
            width: 100%;
        }

        // 左部容器下部
        .navbar-center__left__bottom-container {
            width: 100%;
        }
    }

    // 右部容器
    .navbar-center__right-container {
        display: flex;
        margin-left: -300px;
        margin-right: -350px;
        flex-grow: 1;
        width: 0;
        transition: all .15s;

        // 透明背景色
        &.transparent-background {
            background-image: url('../images/transparent.png');
        }

        // 显示右侧容器
        &.show-editor-container {
            margin-right: 0;
        }

        // 显示左侧容器
        &.show-left-bar {
            margin-left: 0;
        }

        // 视图 / 预览容器
        .viewport-container, .preview-container {
            display: flex;
            position: relative;
            width: 0;
            border-right: 1px solid #eee;
            border-left: 1px solid #eee;
            margin: 0 auto;
        }

        // 左侧工具容器
        .left-bar-container {
            background-color: whitesmoke;
            position: relative;
            width: 300px;
            z-index: 0;
            display: flex;
            flex-direction: column;

            // 编辑容器关闭按钮
            .left-bar-close {
                position: absolute;
                width: 40px;
                height: 40px;
                top: 0;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .3s;
                color: #999;
                cursor: pointer;
                z-index: 1;

                &:hover {
                    color: #333;
                    transform: scale(1.2);
                }
            }
        }

        // 编辑容器
        .editor-container {
            background-color: whitesmoke;
            position: relative;
            width: 350px;
            z-index: 0;
            display: flex;
            flex-direction: column;
            // 因为经常移动，单独放在一个图层
            transform: translateZ(0);

            // 编辑容器关闭按钮
            .editor-close {
                position: absolute;
                width: 40px;
                height: 40px;
                top: 0;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .3s;
                color: #999;
                cursor: pointer;
                z-index: 1;

                &:hover {
                    color: #333;
                    transform: scale(1.2);
                }
            }
        }
    }
}

// 导航条最下面的容器
.navbar-bottom-container {
    display: flex;
    height: 30px;
}

// svg 图标
.svg-icon {
    width: 20px;
    height: 20px;
}

.rotate-45 {
    transform: rotate(45deg);
}

.rotate-90 {
    transform: rotate(90deg);
}

.rotate-135 {
    transform: rotate(135deg);
}

.rotate-180 {
    transform: rotate(180deg);
}

.rotate-270 {
    transform: rotate(270deg);
}