& {
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

.sidebar {
    position: relative;
    box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    z-index: 10;
    height: 100%;
    overflow: hidden !important;
}

.section {
    height: 100%;
    width: 0;
    flex-grow: 1;
}

.section-container {
    display: flex;
    position: relative;
    overflow: hidden;
    background-image: url('../images/transparent.png');
}

.preview-container {
    flex-grow: 1;
    width: 0;
    display: flex;
    position: relative;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.viewport-main-container {
    display: flex;
    position: relative;
    width: 0;
    flex-grow: 1;
    height: 100%;
}

.viewport-main-content {
    display: flex;
    position: relative;
    margin: 0 auto;
    height: 100%;
}