.btn {
    height: 25px;
    .text-child {
        padding: 0 10px;
    }
}

& {
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.layout-top-container {
    display: flex;
    justify-content: space-between;
}

.second-container {
    display: flex;
    align-items: center;
}

.second-container-flex-grow-container {
    display: flex;
    align-items: center;
    flex-grow: 2;
    width: 0;
}

.svg-icon {
    width: 20px;
    height: 20px;
}

.rotate-45 {
    transform: rotate(45deg);
}

.rotate-90 {
    transform: rotate(90deg);
}

.rotate-135 {
    transform: rotate(135deg);
}

.rotate-180 {
    transform: rotate(180deg);
}

.rotate-270 {
    transform: rotate(270deg);
}

.text-child {
    padding: 0 7px !important;
}