.btn {
    height: 25px;
    .text-child {
        padding: 0 10px;
    }
}

& {
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.layout-top-container {
    display: flex;
    justify-content: space-between;
}

.second-container {
    display: flex;
    align-items: center;
}

.second-container-flex-grow-container {
    display: flex;
    align-items: center;
    flex-grow: 2;
    width: 0;
}

.text-child {
    padding: 0 7px !important;
}