.absolute-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.row {
    display: flex;
}

.position-control-container {
    position: relative;
    width: 0;
    height: 65px;
    display: flex;
    flex-grow: 2;
}

.left-top, .left-bottom, .right-top, .right-bottom {
    position: absolute;
    width: 30px;
    height: 30px;
}

.left-top, .left-bottom {
    left: 0;
}

.right-top, .right-bottom {
    left: 35px;
}

.left-top, .right-top {
    top: 0;
}

.left-bottom, .right-bottom {
    top: 35px;
}

.left-top {
    .fa {
        transform: rotate(45deg);
    }
}

.right-top {
    .fa {
        transform: rotate(135deg);
    }
}

.right-bottom {
    .fa {
        transform: rotate(225deg);
    }
}

.left-bottom {
    .fa {
        transform: rotate(315deg);
    }
}

.position-number-container {
    display: flex;
    flex-grow: 5;
    width: 0;
}

// reset button
.text-child {
    padding: 0 !important;
    display: flex;
    align-items: center;
}