& {
    position: relative;
    margin-right: 5px;
}

.color-picker-label-container {
    padding: 3px;
    background: rgb(255, 255, 255);
    border-radius: 1px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0 0 0 1px;
}

.color-picker-label {
    width: 14px;
    height: 14px;
    border-radius: 2px;
}

.picker-container {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 100;
}