&.modal {
    .row {
        display: flex;
        justify-content: space-between;
    }
    .col, .col-right {
        display: flex;
        flex-grow: 1;
        width: 0;
    }
    .col-right {
        justify-content: flex-end;
    }
}