& {
    background: whitesmoke;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    .left, .right {
        display: flex;
    }
    .menu-item {
        display: flex;
        height: 35px;
        align-items: center;
        padding: 0 10px;
        color: #333;
        transition: color .3s;
        &.brand {
            font-size: 16px;
            font-weight: bold;
        }
        &:hover {
            cursor: pointer;
            color: black;
        }
    }
}

.operate-disable {
    color: #ccc;
    &:hover {
        color: #ccc;
    }
}